[submodule "third_party/submodules/yum"]
	path = third_party/submodules/yum
	url = git://pkgs.fedoraproject.org/yum.git
[submodule "third_party/submodules/cmake"]
	path = third_party/submodules/cmake
	url = git://pkgs.fedoraproject.org/cmake.git
[submodule "third_party/submodules/python-iniparse"]
	path = third_party/submodules/python-iniparse
	url = git://pkgs.fedoraproject.org/python-iniparse.git
[submodule "third_party/submodules/perl-generators"]
	path = third_party/submodules/perl-generators
	url = git://pkgs.fedoraproject.org/perl-generators.git
[submodule "third_party/submodules/perl-Fedora-VSP"]
	path = third_party/submodules/perl-Fedora-VSP
	url = git://pkgs.fedoraproject.org/perl-Fedora-VSP.git
[submodule "third_party/submodules/deltarpm"]
	path = third_party/submodules/deltarpm
	url = git://pkgs.fedoraproject.org/deltarpm.git
[submodule "third_party/submodules/os-prober"]
	path = third_party/submodules/os-prober
	url = git://pkgs.fedoraproject.org/os-prober.git
[submodule "third_party/submodules/gperftools"]
	path = third_party/submodules/gperftools
	url = git://pkgs.fedoraproject.org/gperftools.git
[submodule "third_party/submodules/nginx"]
	path = third_party/submodules/nginx
	url = git://pkgs.fedoraproject.org/nginx.git
[submodule "third_party/submodules/puppet"]
	path = third_party/submodules/puppet
	url = git://pkgs.fedoraproject.org/puppet.git
[submodule "third_party/submodules/perl-TermReadKey"]
	path = third_party/submodules/perl-TermReadKey
	url = git://pkgs.fedoraproject.org/perl-TermReadKey.git
[submodule "third_party/submodules/perl-Capture-Tiny"]
	path = third_party/submodules/perl-Capture-Tiny
	url = git://pkgs.fedoraproject.org/perl-Capture-Tiny.git
[submodule "third_party/submodules/perl-Params-Util"]
	path = third_party/submodules/perl-Params-Util
	url = git://pkgs.fedoraproject.org/perl-Params-Util.git
[submodule "third_party/submodules/perl-Data-Section"]
	path = third_party/submodules/perl-Data-Section
	url = git://pkgs.fedoraproject.org/perl-Data-Section.git
[submodule "third_party/submodules/perl-Test-Pod"]
	path = third_party/submodules/perl-Test-Pod
	url = git://pkgs.fedoraproject.org/perl-Test-Pod.git
[submodule "third_party/submodules/perl-Package-Generator"]
	path = third_party/submodules/perl-Package-Generator
	url = git://pkgs.fedoraproject.org/perl-Package-Generator.git
[submodule "third_party/submodules/perl-Data-OptList"]
	path = third_party/submodules/perl-Data-OptList
	url = git://pkgs.fedoraproject.org/perl-Data-OptList.git
[submodule "third_party/submodules/perl-Sub-Exporter"]
	path = third_party/submodules/perl-Sub-Exporter
	url = git://pkgs.fedoraproject.org/perl-Sub-Exporter.git
[submodule "third_party/submodules/perl-Sub-Install"]
	path = third_party/submodules/perl-Sub-Install
	url = git://pkgs.fedoraproject.org/perl-Sub-Install.git
[submodule "third_party/submodules/perl-MRO-Compat"]
	path = third_party/submodules/perl-MRO-Compat
	url = git://pkgs.fedoraproject.org/perl-MRO-Compat.git
[submodule "third_party/submodules/python-parsedatetime"]
	path = third_party/submodules/python-parsedatetime
	url = git://pkgs.fedoraproject.org/python-parsedatetime.git
[submodule "third_party/submodules/perl-Text-Template"]
	path = third_party/submodules/perl-Text-Template
	url = git://pkgs.fedoraproject.org/perl-Text-Template.git
[submodule "third_party/submodules/perl-ExtUtils-MakeMaker"]
	path = third_party/submodules/perl-ExtUtils-MakeMaker
	url = git://pkgs.fedoraproject.org/perl-ExtUtils-MakeMaker.git
[submodule "third_party/submodules/perl-Software-License"]
	path = third_party/submodules/perl-Software-License
	url = http://pkgs.fedoraproject.org/git/perl-Software-License.git
[submodule "third_party/submodules/perl-Module-Build"]
	path = third_party/submodules/perl-Module-Build
	url = git://pkgs.fedoraproject.org/perl-Module-Build.git
[submodule "third_party/submodules/python-acme"]
	path = third_party/submodules/python-acme
	url = git://pkgs.fedoraproject.org/python-acme.git
[submodule "third_party/submodules/perl-Time-HiRes"]
	path = third_party/submodules/perl-Time-HiRes
	url = git://pkgs.fedoraproject.org/perl-Time-HiRes.git
[submodule "third_party/submodules/perl-Compress-Raw-Zlib"]
	path = third_party/submodules/perl-Compress-Raw-Zlib
	url = git://pkgs.fedoraproject.org/perl-Compress-Raw-Zlib.git
[submodule "third_party/submodules/perl-Compress-Raw-Bzip2"]
	path = third_party/submodules/perl-Compress-Raw-Bzip2
	url = git://pkgs.fedoraproject.org/perl-Compress-Raw-Bzip2.git
[submodule "third_party/submodules/perl-Devel-Symdump"]
	path = third_party/submodules/perl-Devel-Symdump
	url = git://pkgs.fedoraproject.org/perl-Devel-Symdump.git
[submodule "third_party/submodules/perl-Pod-Coverage"]
	path = third_party/submodules/perl-Pod-Coverage
	url = git://pkgs.fedoraproject.org/perl-Pod-Coverage.git
[submodule "third_party/submodules/perl-inc-latest"]
	path = third_party/submodules/perl-inc-latest
	url = git://pkgs.fedoraproject.org/perl-inc-latest.git
[submodule "third_party/submodules/perl-IO-Compress"]
	path = third_party/submodules/perl-IO-Compress
	url = git://pkgs.fedoraproject.org/perl-IO-Compress.git
[submodule "third_party/submodules/perl-libintl"]
	path = third_party/submodules/perl-libintl
	url = git://pkgs.fedoraproject.org/perl-libintl.git
[submodule "third_party/submodules/perl-HTTP-Date"]
	path = third_party/submodules/perl-HTTP-Date
	url = git://pkgs.fedoraproject.org/perl-HTTP-Date.git
[submodule "third_party/submodules/perl-TimeDate"]
	path = third_party/submodules/perl-TimeDate
	url = git://pkgs.fedoraproject.org/perl-TimeDate.git
[submodule "third_party/submodules/perl-Business-ISBN-Data"]
	path = third_party/submodules/perl-Business-ISBN-Data
	url = git://pkgs.fedoraproject.org/perl-Business-ISBN-Data.git
[submodule "third_party/submodules/perl-GD"]
	path = third_party/submodules/perl-GD
	url = git://pkgs.fedoraproject.org/perl-GD.git
[submodule "third_party/submodules/perl-GD-Barcode"]
	path = third_party/submodules/perl-GD-Barcode
	url = git://pkgs.fedoraproject.org/perl-GD-Barcode.git
[submodule "third_party/submodules/perl-HTML-Tagset"]
	path = third_party/submodules/perl-HTML-Tagset
	url = git://pkgs.fedoraproject.org/perl-HTML-Tagset.git
[submodule "third_party/submodules/perl-Test-Pod-Coverage"]
	path = third_party/submodules/perl-Test-Pod-Coverage
	url = git://pkgs.fedoraproject.org/perl-Test-Pod-Coverage.git
[submodule "third_party/submodules/perl-Business-ISBN"]
	path = third_party/submodules/perl-Business-ISBN
	url = git://pkgs.fedoraproject.org/perl-Business-ISBN.git
[submodule "third_party/submodules/perl-Error"]
	path = third_party/submodules/perl-Error
	url = git://pkgs.fedoraproject.org/perl-Error.git
[submodule "third_party/submodules/perl-Carp"]
	path = third_party/submodules/perl-Carp
	url = git://pkgs.fedoraproject.org/perl-Carp.git
[submodule "third_party/submodules/perl-threads"]
	path = third_party/submodules/perl-threads
	url = git://pkgs.fedoraproject.org/perl-threads.git
[submodule "third_party/submodules/libev"]
	path = third_party/submodules/libev
	url = git://pkgs.fedoraproject.org/libev.git
[submodule "third_party/submodules/perl-Mojolicious"]
	path = third_party/submodules/perl-Mojolicious
	url = git://pkgs.fedoraproject.org/perl-Mojolicious.git
[submodule "third_party/submodules/perl-common-sense"]
	path = third_party/submodules/perl-common-sense
	url = git://pkgs.fedoraproject.org/perl-common-sense.git
[submodule "third_party/submodules/perl-Canary-Stability"]
	path = third_party/submodules/perl-Canary-Stability
	url = git://pkgs.fedoraproject.org/perl-Canary-Stability.git
[submodule "third_party/submodules/perl-EV"]
	path = third_party/submodules/perl-EV
	url = git://pkgs.fedoraproject.org/perl-EV.git
[submodule "third_party/submodules/perl-HTML-Parser"]
	path = third_party/submodules/perl-HTML-Parser
	url = git://pkgs.fedoraproject.org/perl-HTML-Parser.git
[submodule "third_party/submodules/perl-XML-Parser"]
	path = third_party/submodules/perl-XML-Parser
	url = git://pkgs.fedoraproject.org/perl-XML-Parser.git
[submodule "third_party/submodules/python-pyrfc3339"]
	path = third_party/submodules/python-pyrfc3339
	url = git://pkgs.fedoraproject.org/python-pyrfc3339.git
[submodule "third_party/submodules/python-hypothesis"]
	path = third_party/submodules/python-hypothesis
	url = git://pkgs.fedoraproject.org/python-hypothesis.git
[submodule "third_party/submodules/python-ndg_httpsclient"]
	path = third_party/submodules/python-ndg_httpsclient
	url = git://pkgs.fedoraproject.org/python-ndg_httpsclient.git
[submodule "third_party/submodules/python-psutil"]
	path = third_party/submodules/python-psutil
	url = git://pkgs.fedoraproject.org/python-psutil.git
[submodule "third_party/submodules/python-mock"]
	path = third_party/submodules/python-mock
	url = git://pkgs.fedoraproject.org/python-mock.git
[submodule "third_party/submodules/python-zope-component"]
	path = third_party/submodules/python-zope-component
	url = git://pkgs.fedoraproject.org/python-zope-component.git
[submodule "third_party/submodules/python-configargparse"]
	path = third_party/submodules/python-configargparse
	url = git://pkgs.fedoraproject.org/python-configargparse.git
[submodule "third_party/submodules/python-dialog"]
	path = third_party/submodules/python-dialog
	url = git://pkgs.fedoraproject.org/python-dialog.git
[submodule "third_party/submodules/python-zope-event"]
	path = third_party/submodules/python-zope-event
	url = git://pkgs.fedoraproject.org/python-zope-event.git
[submodule "third_party/submodules/python-zope-interface"]
	path = third_party/submodules/python-zope-interface
	url = git://pkgs.fedoraproject.org/python-zope-interface.git
