[submodule "third_party/submodules/yum"]
	path = third_party/submodules/yum
	url = git://pkgs.fedoraproject.org/yum.git
[submodule "third_party/submodules/gdb"]
	path = third_party/submodules/gdb
	url = git://pkgs.fedoraproject.org/gdb.git
[submodule "third_party/submodules/cmake"]
	path = third_party/submodules/cmake
	url = git://pkgs.fedoraproject.org/cmake.git
[submodule "third_party/submodules/python-iniparse"]
	path = third_party/submodules/python-iniparse
	url = git://pkgs.fedoraproject.org/python-iniparse.git
[submodule "third_party/submodules/perl-generators"]
	path = third_party/submodules/perl-generators
	url = git://pkgs.fedoraproject.org/perl-generators.git
[submodule "third_party/submodules/perl"]
	path = third_party/submodules/perl
	url = git://pkgs.fedoraproject.org/perl.git
[submodule "third_party/submodules/perl-Fedora-VSP"]
	path = third_party/submodules/perl-Fedora-VSP
	url = git://pkgs.fedoraproject.org/perl-Fedora-VSP.git
[submodule "third_party/submodules/deltarpm"]
	path = third_party/submodules/deltarpm
	url = git://pkgs.fedoraproject.org/deltarpm.git
[submodule "third_party/submodules/os-prober"]
	path = third_party/submodules/os-prober
	url = git://pkgs.fedoraproject.org/os-prober.git
[submodule "third_party/submodules/nginx"]
	path = third_party/submodules/nginx
	url = git://pkgs.fedoraproject.org/nginx.git
