[submodule "third_party/submodules/yum"]
	path = third_party/submodules/yum
	url = git://pkgs.fedoraproject.org/yum.git
[submodule "third_party/submodules/dnf"]
	path = third_party/submodules/dnf
	url = git://pkgs.fedoraproject.org/dnf.git
