[Unit]
Description=Syncthing

[Service]
Type=simple
User=%I
Environment=STNORESTART=yes
ExecStart=/usr/bin/syncthing
Restart=on-failure

[Install]
WantedBy=multi-user.target
